
<div class="center hero-unit">
  <h1>Welcome to the Werewolf game</h1>

  <h2>
    This is the home page for the werewolf game.
   
  </h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  
</div>

<%= link_to image_tag("Werewolf.png", alt: "Werewolf") %>
